<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>找不到该页面</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/assets/imgs/logo-32.ico">
    <link rel="apple-touch-icon" href="/assets/imgs/logo-100.png">
    <link rel="stylesheet" type="text/css" href="/assets/css/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/404.css">
</head>
<body>
    <div class="ui fixed inverted menu">
    <div class="ui container">
      <a href="#" class="header item">
        <img class="logo" src="/assets/imgs/logo-100.png">
          COLL-MZ
      </a>
      <a href="/login/" class="item">登录</a>
    </div>
  </div>

  <div class="ui main text container">
    <h1 class="ui header">找不到页面</h1>
    <p>对不起，您要找的页面不存在。</p>
  </div>
    <!-- script -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/semantic.min.js"></script>
</body>
</html>