<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>COLL MZ</title>
    {{template "header"}}
    <link rel="stylesheet" type="text/css" href="/assets/css/center.css">
</head>

<body>
    <!--[if lt IE 8]>
    <![endif]-->
    <!-- menu -->
    {{template "menu" .}}
    <!-- content -->
    <div class="ui main container">
        <div class="ui one column grid">
            <div class="dividing column" id="coll-status"></div>
            <div class="column" id="coll-msg"></div>
            <hr>
            <div id="coll-content" class="ui three column grid"></div>
            <div class="column" id="next-page">获取下一页</div>
        </div>
    </div>
    <!-- script -->
    {{template "footer"}}
    <script src="/assets/js/center.js"></script>
</body>

</html>
