{{template "header" .}}
{{template "menu" .}}
<div class="ui main container">
    <div class="ui one column grid">
        <div class="column">
            <h2 class="ui yellow header">DEBUG</h2>
        </div>
        {{if .actionLog}}
        <!-- 日志输出 -->
        <div class="column">
            <a class="ui button fluid" href="/debug?action=clear-log">清理日志</a>
        </div>
        <div class="column">
            <table class="ui table">
                <thead>
                <tr>
                    <th>时间</th>
                    <th>IP</th>
                    <th>文件</th>
                    <th>函数</th>
                    <th>标记</th>
                    <th>消息</th>
                </tr>
                </thead>
                <tbody>
                {{range .logData}}
                <tr>
                    <td>{{.CreateTime}}</td>
                    <td>{{.IpAddr}}</td>
                    <td>{{.FileName}}</td>
                    <td>{{.FuncName}}</td>
                    <td>{{.Mark}}</td>
                    <td>{{.Message}}</td>
                </tr>
                {{end}}
                </tbody>
            </table>
        </div>
    </div>
    {{end}}
</div>
{{template "footer" .}}