<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Login - COLL MZ</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="stylesheet" type="text/css" href="assets/css/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/index.css">
</head>
<body>
    <!--[if lt IE 8]>
    <![endif]-->
    <!-- content -->
    <div class="hot-list-item" id="list-girl">
    <!-- 妹子图 -->
    <ul>
        <div class="hotcomment">
            <div class="in">
                <div class="acv_author">大爷来玩嘛                        @ <a href="http://jandan.net/ooxx/page-2206#comment-3313293">妹子图</a>
                </div>
                <div class="acv_comment">
                    <p><a href="http://ww1.sinaimg.cn/large/005vbOHfgw1f9m4d0xaolj30fo0kwt9t.jpg" target="_blank" class="view_img_link">[查看原图]</a><br /><img src="http://ww1.sinaimg.cn/mw600/005vbOHfgw1f9m4d0xaolj30fo0kwt9t.jpg" /></p>
                    <p><a href="http://ww2.sinaimg.cn/large/005vbOHfgw1f9m4d1ogj9j308w0bv0tp.jpg" target="_blank" class="view_img_link">[查看原图]</a><br /><img src="http://ww2.sinaimg.cn/mw600/005vbOHfgw1f9m4d1ogj9j308w0bv0tp.jpg" /></p>
                    <div class="vote" id="vote-3313293"><span id="acv_stat_3313293"></span><a title="圈圈/支持" class="acvclick acv4" id="vote4-3313293" onclick="acv_vote(event,3313293,1);" href="javascript:;">OO</a> [<span id="cos_support-3313293">148</span>] <a title="叉叉/反对" class="acvclick acva"  id="votea-3313293"  onclick="acv_vote(event,3313293,0);" href="javascript:;">XX</a> [<span id="cos_unsupport-3313293">18</span>]</div>
                </div>
                <div class="acv_author">大爷来玩嘛                        @ <a href="http://jandan.net/ooxx/page-2206#comment-3313296">妹子图</a>
                </div>
                <div class="acv_comment">
                    <p><a href="http://ww3.sinaimg.cn/large/005vbOHfgw1f9m4d4p3ubj31jk114qhr.jpg" target="_blank" class="view_img_link">[查看原图]</a><br /><img src="http://ww3.sinaimg.cn/mw600/005vbOHfgw1f9m4d4p3ubj31jk114qhr.jpg" /></p>
                    <div class="vote" id="vote-3313296"><span id="acv_stat_3313296"></span><a title="圈圈/支持" class="acvclick acv4" id="vote4-3313296" onclick="acv_vote(event,3313296,1);" href="javascript:;">OO</a> [<span id="cos_support-3313296">102</span>] <a title="叉叉/反对" class="acvclick acva"  id="votea-3313296"  onclick="acv_vote(event,3313296,0);" href="javascript:;">XX</a> [<span id="cos_unsupport-3313296">11</span>]</div>
                </div>
                <div class="acv_author">大爷来玩嘛                        @ <a href="http://jandan.net/ooxx/page-2206#comment-3313294">妹子图</a>
                </div>
                <div class="acv_comment">
                    <p><a href="http://ww2.sinaimg.cn/large/005vbOHfgw1f9m4cxf4gtj30f00mhq4z.jpg" target="_blank" class="view_img_link">[查看原图]</a><br /><img src="http://ww2.sinaimg.cn/mw600/005vbOHfgw1f9m4cxf4gtj30f00mhq4z.jpg" /></p>
                    <div class="vote" id="vote-3313294"><span id="acv_stat_3313294"></span><a title="圈圈/支持" class="acvclick acv4" id="vote4-3313294" onclick="acv_vote(event,3313294,1);" href="javascript:;">OO</a> [<span id="cos_support-3313294">77</span>] <a title="叉叉/反对" class="acvclick acva"  id="votea-3313294"  onclick="acv_vote(event,3313294,0);" href="javascript:;">XX</a> [<span id="cos_unsupport-3313294">6</span>]</div>
                </div>
                <div class="acv_author">小宝                        @ <a href="http://jandan.net/ooxx/page-2207#comment-3315272">妹子图</a>
                </div>
                <div class="acv_comment">
                    <p><a href="http://ww1.sinaimg.cn/large/66b3de17gw1f9fe748fvaj20vi18gqba.jpg" target="_blank" class="view_img_link">[查看原图]</a><br /><img src="http://ww1.sinaimg.cn/mw600/66b3de17gw1f9fe748fvaj20vi18gqba.jpg" /></p>
                    <div class="vote" id="vote-3315272"><span id="acv_stat_3315272"></span><a title="圈圈/支持" class="acvclick acv4" id="vote4-3315272" onclick="acv_vote(event,3315272,1);" href="javascript:;">OO</a> [<span id="cos_support-3315272">54</span>] <a title="叉叉/反对" class="acvclick acva"  id="votea-3315272"  onclick="acv_vote(event,3315272,0);" href="javascript:;">XX</a> [<span id="cos_unsupport-3315272">2</span>]</div>
                </div>
                <div class="acv_author">小宝                        @ <a href="http://jandan.net/ooxx/page-2207#comment-3315275">妹子图</a>
                </div>
                <div class="acv_comment">
                    <p><a href="http://ww3.sinaimg.cn/large/66b3de17gw1f9fe74yv3pj20zk0qo0va.jpg" target="_blank" class="view_img_link">[查看原图]</a><br /><img src="http://ww3.sinaimg.cn/mw600/66b3de17gw1f9fe74yv3pj20zk0qo0va.jpg" /></p>
                    <div class="vote" id="vote-3315275"><span id="acv_stat_3315275"></span><a title="圈圈/支持" class="acvclick acv4" id="vote4-3315275" onclick="acv_vote(event,3315275,1);" href="javascript:;">OO</a> [<span id="cos_support-3315275">51</span>] <a title="叉叉/反对" class="acvclick acva"  id="votea-3315275"  onclick="acv_vote(event,3315275,0);" href="javascript:;">XX</a> [<span id="cos_unsupport-3315275">11</span>]</div>
                </div>
                <div class="acv_author">小宝                        @ <a href="http://jandan.net/ooxx/page-2207#comment-3315277">妹子图</a>
                </div>
                <div class="acv_comment">
                    <p><a href="http://ww4.sinaimg.cn/large/66b3de17gw1f9fe76ca8kj20dw0kuq4n.jpg" target="_blank" class="view_img_link">[查看原图]</a><br /><img src="http://ww4.sinaimg.cn/mw600/66b3de17gw1f9fe76ca8kj20dw0kuq4n.jpg" /></p>
                    <div class="vote" id="vote-3315277"><span id="acv_stat_3315277"></span><a title="圈圈/支持" class="acvclick acv4" id="vote4-3315277" onclick="acv_vote(event,3315277,1);" href="javascript:;">OO</a> [<span id="cos_support-3315277">46</span>] <a title="叉叉/反对" class="acvclick acva"  id="votea-3315277"  onclick="acv_vote(event,3315277,0);" href="javascript:;">XX</a> [<span id="cos_unsupport-3315277">8</span>]</div>
                </div>
                <div class="acv_author">小宝                        @ <a href="http://jandan.net/ooxx/page-2207#comment-3315270">妹子图</a>
                </div>
                <div class="acv_comment">
                    <p><a href="http://ww2.sinaimg.cn/large/66b3de17gw1f9fe73za0yj20gp0oat9z.jpg" target="_blank" class="view_img_link">[查看原图]</a><br /><img src="http://ww2.sinaimg.cn/mw600/66b3de17gw1f9fe73za0yj20gp0oat9z.jpg" /></p>
                    <div class="vote" id="vote-3315270"><span id="acv_stat_3315270"></span><a title="圈圈/支持" class="acvclick acv4" id="vote4-3315270" onclick="acv_vote(event,3315270,1);" href="javascript:;">OO</a> [<span id="cos_support-3315270">39</span>] <a title="叉叉/反对" class="acvclick acva"  id="votea-3315270"  onclick="acv_vote(event,3315270,0);" href="javascript:;">XX</a> [<span id="cos_unsupport-3315270">6</span>]</div>
                </div>
                <div class="acv_author">小宝                        @ <a href="http://jandan.net/ooxx/page-2206#comment-3315265">妹子图</a>
                </div>
                <div class="acv_comment">
                    <p><a href="http://ww3.sinaimg.cn/large/66b3de17gw1f9fe717li4j20nm0zkdlk.jpg" target="_blank" class="view_img_link">[查看原图]</a><br /><img src="http://ww3.sinaimg.cn/mw600/66b3de17gw1f9fe717li4j20nm0zkdlk.jpg" /></p>
                    <div class="vote" id="vote-3315265"><span id="acv_stat_3315265"></span><a title="圈圈/支持" class="acvclick acv4" id="vote4-3315265" onclick="acv_vote(event,3315265,1);" href="javascript:;">OO</a> [<span id="cos_support-3315265">32</span>] <a title="叉叉/反对" class="acvclick acva"  id="votea-3315265"  onclick="acv_vote(event,3315265,0);" href="javascript:;">XX</a> [<span id="cos_unsupport-3315265">3</span>]</div>
                </div>
                <div class="acv_author">小宝                        @ <a href="http://jandan.net/ooxx/page-2206#comment-3315258">妹子图</a>
                </div>
                <div class="acv_comment">
                    <p><a href="http://ww3.sinaimg.cn/large/66b3de17gw1f9fe6xprd3j20nm0zkthn.jpg" target="_blank" class="view_img_link">[查看原图]</a><br /><img src="http://ww3.sinaimg.cn/mw600/66b3de17gw1f9fe6xprd3j20nm0zkthn.jpg" /></p>
                    <div class="vote" id="vote-3315258"><span id="acv_stat_3315258"></span><a title="圈圈/支持" class="acvclick acv4" id="vote4-3315258" onclick="acv_vote(event,3315258,1);" href="javascript:;">OO</a> [<span id="cos_support-3315258">29</span>] <a title="叉叉/反对" class="acvclick acva"  id="votea-3315258"  onclick="acv_vote(event,3315258,0);" href="javascript:;">XX</a> [<span id="cos_unsupport-3315258">4</span>]</div>
                </div>
            </div>
        </div>
    </ul>
    </div>
    <!-- script -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/semantic.min.js"></script>
</body>
</html>