{{define "header"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{.appName}}{{if .addTitle}} - {{.addTitle}}{{end}}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/favicon.ico" mce_href="/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/assets/imgs/logo-32.ico">
    <link rel="apple-touch-icon" href="/assets/imgs/logo-100.png">
    <link rel="stylesheet" type="text/css" href="/assets/css/semantic.min.css"> {{range .refCSS}}
    <link rel="stylesheet" type="text/css" href="/assets/css/{{.}}.css"> {{end}}
</head>

<body>
    {{end}}
