<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>COLL MZ - SET</title>
    {{template "header"}}
    <link rel="stylesheet" type="text/css" href="/assets/css/set.css">
</head>

<body>
    <!--[if lt IE 8]>
    <![endif]-->
    {{template "menu" .}}
    <!-- content -->
    <div class="ui main container">
        <h2 class="ui dividing header">采集</h2>
        <div class="ui form">
            <div class="field" id="coll-status"></div>
            <div class="field" id="coll-title"></div>
            <div class="field" id="coll-msg"></div>
            <div class="field" id="coll-tools" data-key="">
                <div class="three ui buttons">
                    <a class="ui button" href="#action-coll-run">启动采集</a>
                    <a class="ui button" href="#action-coll-close">中断采集</a>
                    <a class="ui button" href="#action-coll-clear">清空采集器数据</a>
                </div>
            </div>
            <hr>
            <div class="field" id="log-content"></div>
        </div>
    </div>
    <!-- script -->
    {{template "footer"}}
    <script src="/assets/js/set.js"></script>
</body>

</html>
