{{template "header" .}} {{template "menu" .}}
<div class="ui main container">
    <div class="ui one column grid">
        <div class="column">
            <h2 class="ui orange header">系统设置</h2>
        </div>
        <div class="column">
            <div class="ui message hidden" id="message">
                <div class="header"></div>
                <div class="content"></div>
            </div>
        </div>
        <div class="column">
            <form class="ui inverted form" action="/action-set" method="post">
                <div class="field">
                    <a class="ui button blue" href="#edit-ok"><i class="edit icon"></i> 修改</a>
                </div>
            </form>
        </div>
    </div>
</div>
{{template "footer" .}}